/**
* Authors : Emma Hilborn (200282755),
            Alex Friesen (200302342),
            Dan Masci (200299037)
* Class : Enterprise Computing
* Semester : 4
* Professor : Tom Tsiliopolous
* Purpose : Final Team Project - E-Commerce Store
* Website Name : EzGames1.azurewebsites.net 
*/
/**
* The follwing stylesheet is the "MASTER". It is a Less file that gets auto-compiled into
* custom.css. It uses @import to include other less files. Everything in THIS file is of 
* our own creation. The GLOBAL mixins are from a Project Template that Dan created for his
* Summer Co-op; customized to this site. 
*
* moby.less/moby.js are files from Dan's coworker. It is not our creation. You can see/download 
* it on Github here: https://github.com/joshsanger/moby.js. It controls the mobile Store page (when 
* you get below 640px width). Customization still required.
*/
/**
* See style.less comments
* NOT OUR CODE
* Taken from : https://github.com/joshsanger/moby.js
* However, portions have been 'hacked' to fit the design of our application. Also
* minor changes made to positioning.
*/
#moby-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#moby-overlay.dark {
  background: rgba(0, 0, 0, 0.85);
}
#moby-overlay.light {
  background: rgba(255, 255, 255, 0.65);
}
#moby-overlay.moby-overlay-active {
  visibility: visible !important;
  opacity: 1 !important;
}
.moby-body-fixed {
  overflow: hidden !important;
}
#moby {
  background: #3d4766;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  padding: 20px;
  overflow: auto;
}
#moby.right-side {
  position: fixed;
  z-index: 3000;
  top: 0;
  height: 100%;
  right: -300px;
  width: 280px;
  border-left: solid 1px rgba(0, 0, 0, 0.08);
}
#moby.right-side.moby-active {
  right: 0 !important;
}
#moby ul {
  list-style: none;
}
#moby ul ul {
  display: none;
}
#moby ul ul li a {
  border-left: 1px solid #0f1f4d;
  background: #3d4766;
}
#moby ul ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #0f1f4d;
}
#moby ul li ul a {
  padding: 10px 60px 10px 20px;
}
#moby ul li a {
  border-bottom: solid 1px #0f1f4d;
  position: relative;
  color: #d4cde5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  display: block;
  padding: 10px 60px 10px 0;
}
#moby ul li a .moby-expand {
  position: absolute;
  background: #0f1f4d;
  width: 40px;
  text-align: center;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
}
#moby ul li a .moby-expand span {
  font-size: 12px;
}
#moby ul li a .moby-expand i,
#moby ul li a .moby-expand span {
  width: 40px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-tranform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#moby #moby-close {
  color: #d4cde5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
  margin-bottom: 20px;
}
#moby #moby-close span {
  font-weight: bold;
  margin-right: 10px;
}
/**
* Authors : Emma Hilborn (200282755),
            Alex Friesen (200302342),
            Dan Masci (200299037)
* Class : Enterprise Computing
* Semester : 4
* Professor : Tom Tsiliopolous
* Purpose : Final Team Project - E-Commerce Store
* Website Name : EzGames1.azurewebsites.net
*
* This is a partial LESS file that has all styles that are
* to do with the Store and Detail pages (includes responsive).
*/
/***********************************									
*			 Menu Global			
***********************************/
.store-page .image {
  position: relative;
  width: 100%;
  max-width: 205px;
  overflow: hidden;
  padding: 1px;
  margin: 0 auto;
}
.store-page .image img {
  max-width: 100%;
}
.store-page .image .label {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 30px;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: scale(1) translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: scale(1) translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: scale(1) translateX(-50%) translateY(-50%) rotate(-45deg);
  color: #d4cde5;
  font-size: 12px;
  text-align: center;
  background: #3d4766;
  padding: 2px 6px;
}
/***********************************									
*	       Game List Page 				
***********************************/
#store-page {
  padding: 0;
}
#store-page .games {
  width: 100%;
  text-align: center;
}
#store-page .games .group {
  width: 100%;
  padding: 40px 0;
  -webkit-box-shadow: 0 0 10px #747474;
  -moz-box-shadow: 0 0 10px #747474;
  -ms-box-shadow: 0 0 10px #747474;
  -o-box-shadow: 0 0 10px #747474;
  box-shadow: 0 0 10px #747474;
}
#store-page .games .group h2 {
  position: relative;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#store-page .games .group h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: #5271cc;
}
#store-page .games .group .container {
  display: inline-block;
}
#store-page .games .group:nth-child(even) {
  background: #f1f1f1;
}
#store-page .games .group:nth-child(odd) {
  background: #f6f6f6;
}
#store-page .games .group a {
  color: #0f1f4d;
}
#store-page .games .group a:hover .image .fa {
  font-size: 22px;
  opacity: 1;
  visibility: visible;
}
#store-page .games .game {
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 20px 1%;
  vertical-align: top;
}
#store-page .games .game .image .fa {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #d4cde5;
  font-size: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#store-page .games .game .name {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px;
  padding: 5px 10px;
}
#store-page .games .game .name .price {
  font-weight: normal;
  font-size: 14px;
}
#store-page .games .game .desc {
  padding: 0 10px;
}
/***********************************									
*	      Game Details Page 				
***********************************/
#details-page {
  padding-top: 20px;
}
#details-page .button {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
#details-page .button a {
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
  background: #3d4766;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#details-page .button a:hover {
  background: #505d86;
}
#details-page .right {
  float: right;
  width: 60%;
}
#details-page .right .info {
  font-size: 16px;
  color: #0f1f4d;
  line-height: 1.4em;
  padding-left: 30px;
}
#details-page .right .info > div {
  display: block;
}
#details-page .right .info .name {
  position: relative;
  font-size: 26px;
  font-variant: small-caps;
}
#details-page .right .info .price {
  margin-bottom: 10px;
}
#details-page .right .info .desc {
  margin-bottom: 10px;
}
#details-page .left {
  float: left;
  width: 40%;
  padding: 0 40px;
}
#details-page .left .image {
  max-width: 100%;
}
/***********************************									
*	      Cart Summary Page 				
***********************************/
#cart-page .checkout {
  float: right;
  width: 122px;
  text-align: center;
  border: 2px solid #0f1f4d;
  border-left-width: 1px;
}
#cart-page .checkout.top {
  border-bottom: none;
}
#cart-page .checkout.bottom {
  border-top: none;
}
#cart-page .checkout > div {
  display: block;
  margin: 5px 0;
}
#cart-page .checkout .button {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
#cart-page .checkout .button a {
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
  background: #3d4766;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#cart-page .checkout .button a:hover {
  background: #505d86;
}
#cart-page .items .item {
  position: relative;
  border: 2px solid #0f1f4d;
}
#cart-page .items .item .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}
#cart-page .items .item .center {
  text-align: center;
  width: calc(100% - 120px);
  padding: 10px 20px;
}
#cart-page .items .item .center .name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
#cart-page .items .item .center .desc {
  font-size: 14px;
}
#cart-page .items .item .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  border-left: 1px solid #0f1f4d;
  height: 100%;
}
#cart-page .items .item .right .row {
  position: relative;
  border-bottom: 1px solid #0f1f4d;
  height: 33.33%;
}
#cart-page .items .item .right .row:last-child {
  border-bottom: none;
}
#cart-page .items .item .right .row span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/********************************************************
*														*
*	    			   RESPONSIVE
*   													*
********************************************************/
@media screen and (max-width: 850px) {
  /***********************************									
    *	      Menu Details Page 				
    ***********************************/
  #details-page .right {
    float: none;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto 20px;
  }
  #details-page .right .info {
    font-size: 18px;
    color: #0f1f4d;
    line-height: 1.4em;
    padding: 0;
  }
  #details-page .right .info .price {
    margin: 5px 0;
  }
  #details-page .left {
    float: none;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  /***********************************									
    *	       Menu List Page 				
    ***********************************/
  #store-page .games .group {
    padding: 25px 0;
  }
  #store-page .games .group h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #store-page .games .game {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 10px auto 30px auto;
  }
}
/****************************************************************************************************
*																									*
*											GLOBAL 										
*																									*
****************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a,
img,
button,
input,
textarea {
  outline: none;
  border: 0;
}
a {
  text-decoration: none;
}
p {
  color: #0f1f4d;
  line-height: 1.5em;
  margin-bottom: 30px;
}
ul,
ol {
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  height: calc(100% - 110px);
  overflow-x: hidden;
}
/******* Font Manipulations ********/
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.ultra-bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.small {
  font-size: .8em;
}
.big {
  font-size: 1.1em;
}
.large {
  font-size: 1.3em;
}
/******* Mixins ********/
.clear-float {
  clear: both;
  width: 100%;
  height: 0.001em;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/******* Lines / Buttons / Gradients / Other ********/
.line {
  width: 80%;
  margin: 0 auto 30px auto;
  height: 1px;
  background: #747474;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(#ffffff), color-stop(50%, #747474));
}
.line2 {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: #747474;
}
.gradient-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d5899+0,283d66+100 */
  background: #3d5899;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d5899 0%, #283d66 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d5899), color-stop(100%, #283d66));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d5899 0%, #283d66 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d5899 0%, #283d66 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d5899 0%, #283d66 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3d5899 0%, #283d66 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5899', endColorstr='#283d66', GradientType=0);
  /* IE6-9 */
}
.justify-content {
  position: relative;
  text-align: justify;
  width: 100%;
}
.justify-content::after {
  content: "";
  width: 100%;
  display: inline-block;
}
.justify-content > li {
  position: relative;
  display: inline-block;
}
.button1 {
  text-align: center;
  margin: 15px 0;
}
.button1 a,
.button1 button,
.button1 span,
.button1 input {
  color: #f1f1f1;
  font-size: 14px;
  background: #3f507f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.button1 a:hover,
.button1 button:hover,
.button1 span:hover,
.button1 input:hover {
  cursor: pointer;
  background: #5065a1;
}
.button1.color2 a,
.button1.color2 button,
.button1.color2 span {
  color: #f1f1f1;
  background: #0f1f4d;
}
.button1.color2 a:hover,
.button1.color2 button:hover,
.button1.color2 span:hover {
  background: #173078;
}
.button1.color3 a,
.button1.color3 button,
.button1.color3 span {
  color: #f1f1f1;
  background: #5271cc;
}
.button1.color3 a:hover,
.button1.color3 button:hover,
.button1.color3 span:hover {
  background: #3656b5;
}
.button1.width a,
.button1.width button,
.button1.width span {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1160px) {
  .image:hover::before {
    height: 100% !important;
    top: 0 !important;
  }
}
/******* Hack to change the color of Placeholder Text on Form Elements ********/
/****************************************************************************************************
*																									*
*												HEADER MAIN							
*																									*
****************************************************************************************************/
/***********************************									
*		 	Drop Down Menu 				
***********************************/
#header-nav ul li {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#header-nav ul li a {
  display: block;
  color: #0f1f4d;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#header-nav ul li a:hover {
  color: #000000;
  font-weight: 700;
}
#header-nav ul li:hover > a {
  color: #000000;
  font-weight: 700;
}
/***********************************									
*			   Header 				
***********************************/
header {
  position: absolute;
  background: rgba(212, 205, 229, 0.85);
  border-top: 5px solid #3f507f;
  border-bottom: 1px solid #3f507f;
  width: 100%;
  height: auto;
  z-index: 10;
}
header #header-nav .menu {
  width: 100%;
  text-align: center;
}
header #header-nav .menu > li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px 0;
}
header #header-nav .menu > li > a {
  padding: 30px 20px;
}
header #header-nav .menu > li > a::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #000000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header #header-nav .menu > li > a.active {
  color: #000000;
  font-weight: 700;
}
header #header-nav .menu > li > a.active::after {
  opacity: 1;
  width: 90%;
}
header #header-nav .menu > li .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0) translateX(-50%) translateY(0) rotate(0deg);
  -moz-transform: scale(0) translateX(-50%) translateY(0) rotate(0deg);
  -ms-transform: scale(0) translateX(-50%) translateY(0) rotate(0deg);
  -o-transform: scale(0) translateX(-50%) translateY(0) rotate(0deg);
  transform: scale(0) translateX(-50%) translateY(0) rotate(0deg);
  padding: 10px 0;
  background: rgba(212, 205, 229, 0.85);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1000;
}
header #header-nav .menu > li .sub-menu::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header #header-nav .menu > li .sub-menu > li > a {
  padding: 10px 20px;
}
header #header-nav .menu > li .sub-menu > li > a::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 10px);
  border: 5px solid transparent;
  border-left-color: #232323;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header #header-nav .menu > li .sub-menu > li > a:hover::after {
  border-left-color: #747474;
}
header #header-nav .menu > li .sub-menu > li .sub-sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -150%;
  left: 100%;
  padding: 10px 0;
  background: rgba(212, 205, 229, 0.85);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}
header #header-nav .menu > li .sub-menu > li .sub-sub-menu > li a {
  padding: 10px 20px;
}
header #header-nav .menu > li .sub-menu > li:hover .sub-sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0;
  left: 100%;
}
header #header-nav .menu > li:hover > a::after {
  opacity: 1;
  width: 90%;
}
header #header-nav .menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  left: 50%;
  -webkit-transform: scale(1) translateX(-50%) translateY(0) rotate(0deg);
  -moz-transform: scale(1) translateX(-50%) translateY(0) rotate(0deg);
  -ms-transform: scale(1) translateX(-50%) translateY(0) rotate(0deg);
  -o-transform: scale(1) translateX(-50%) translateY(0) rotate(0deg);
  transform: scale(1) translateX(-50%) translateY(0) rotate(0deg);
}
header #header-nav .menu > li:hover .sub-menu::before {
  opacity: 1;
}
header #header-nav .menu > li#home {
  display: none;
}
header #account-nav {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header #account-nav .menu {
  width: 80px;
  background: transparent;
  text-align: center;
}
header #account-nav .menu.loggedin {
  width: 200px;
}
header #account-nav .menu.loggedin p {
  font-size: 14px;
  font-weight: 700;
  color: #0f1f4d;
  text-align: center;
  padding: 5px;
  margin: 0;
}
header #account-nav .menu > li > a {
  border: 2px solid #3f507f;
  font-size: 13px;
  font-variant: small-caps;
  font-weight: 700;
  display: block;
  padding: 5px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header #account-nav .menu > li > a.register {
  color: #d4cde5;
  background: rgba(15, 31, 77, 0.8);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}
header #account-nav .menu > li > a.login {
  color: #0f1f4d;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
header #account-nav .menu > li > a.logout {
  width: 50%;
  float: left;
  color: #d4cde5;
  background: rgba(15, 31, 77, 0.8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
header #account-nav .menu > li > a.profile {
  width: 50%;
  float: left;
  color: #0f1f4d;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
header #account-nav .menu > li > a:hover,
header #account-nav .menu > li > a.active {
  background: #c6bcdc;
}
header #account-nav .menu > li > a:hover.register,
header #account-nav .menu > li > a.active.register,
header #account-nav .menu > li > a:hover.logout,
header #account-nav .menu > li > a.active.logout {
  background: #0f1f4d;
}
header #moby-button {
  display: none;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}
header #moby-button .fa {
  color: #3f507f;
  font-size: 42px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header #moby-button:hover .fa {
  color: #0f1f4d;
}
header #logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80px;
}
header #logo img {
  width: 100%;
}
/****************************************************************************************************
*																									*
*												HOME PAGE 										
*																									*
****************************************************************************************************/
#home-page {
  height: 100%;
  min-height: 400px;
  /***********************************									
	*			Top Banner 				
	***********************************/
}
#home-page .top-banner {
  height: 100%;
}
#home-page .top-banner .rotator {
  height: 100%;
}
#home-page .top-banner .rotator .slides {
  position: relative;
  height: 100%;
}
#home-page .top-banner .rotator .slides .slide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#home-page .top-banner .rotator .slides .slide .container {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
}
#home-page .top-banner .rotator .slides .slide .container .heading h2 {
  position: relative;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
  text-shadow: 1px 1px 30px #000000, 1px 1px #000000;
  letter-spacing: 0.06em;
}
#home-page .top-banner .rotator .slides .slide .container .text p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 1px 1px 30px #000000, 1px 1px #000000;
  padding: 20px 0 30px 0;
}
#home-page .top-banner .rotator .slides .slide .container .button {
  text-align: center;
  margin: 15px 0;
}
#home-page .top-banner .rotator .slides .slide .container .button a,
#home-page .top-banner .rotator .slides .slide .container .button button,
#home-page .top-banner .rotator .slides .slide .container .button span,
#home-page .top-banner .rotator .slides .slide .container .button input {
  color: #f1f1f1;
  font-size: 14px;
  background: #3f507f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#home-page .top-banner .rotator .slides .slide .container .button a:hover,
#home-page .top-banner .rotator .slides .slide .container .button button:hover,
#home-page .top-banner .rotator .slides .slide .container .button span:hover,
#home-page .top-banner .rotator .slides .slide .container .button input:hover {
  cursor: pointer;
  background: #5065a1;
}
#home-page .top-banner .rotator .slides .slide .container .button.color2 a,
#home-page .top-banner .rotator .slides .slide .container .button.color2 button,
#home-page .top-banner .rotator .slides .slide .container .button.color2 span {
  color: #f1f1f1;
  background: #0f1f4d;
}
#home-page .top-banner .rotator .slides .slide .container .button.color2 a:hover,
#home-page .top-banner .rotator .slides .slide .container .button.color2 button:hover,
#home-page .top-banner .rotator .slides .slide .container .button.color2 span:hover {
  background: #173078;
}
#home-page .top-banner .rotator .slides .slide .container .button.color3 a,
#home-page .top-banner .rotator .slides .slide .container .button.color3 button,
#home-page .top-banner .rotator .slides .slide .container .button.color3 span {
  color: #f1f1f1;
  background: #5271cc;
}
#home-page .top-banner .rotator .slides .slide .container .button.color3 a:hover,
#home-page .top-banner .rotator .slides .slide .container .button.color3 button:hover,
#home-page .top-banner .rotator .slides .slide .container .button.color3 span:hover {
  background: #3656b5;
}
#home-page .top-banner .rotator .slides .slide .container .button.width a,
#home-page .top-banner .rotator .slides .slide .container .button.width button,
#home-page .top-banner .rotator .slides .slide .container .button.width span {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
}
#home-page .top-banner .rotator .slides .slide.active {
  opacity: 1;
  visibility: visible;
}
#home-page .top-banner .rotator .slides .rotator-controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
}
#home-page .top-banner .rotator .slides .rotator-controls .control {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  border-radius: 9999px;
  background: #d4cde5;
  border: 1px solid #3f507f;
  margin: 6px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#home-page .top-banner .rotator .slides .rotator-controls .control.active,
#home-page .top-banner .rotator .slides .rotator-controls .control:hover {
  cursor: pointer;
  background: #3f507f;
}
#home-page .top-banner .rotator .slides .rotator-arrows {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 50px;
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div.prev {
  left: 0;
  padding-left: 10px;
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div.next {
  right: 0;
  padding-right: 10px;
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div .fa {
  font-size: 62px;
  color: #d4cde5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div:hover {
  cursor: pointer;
}
#home-page .top-banner .rotator .slides .rotator-arrows .container > div:hover .fa {
  font-size: 68px;
  color: #3f507f;
}
/****************************************************************************************************
*																									*
*											INTERIOR PAGES 										
*																									*
****************************************************************************************************/
/***********************************									
*			Interior Header				
***********************************/
.interior-header {
  background: no-repeat center center;
  background-image: url(/Assets/images/slide3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 210px;
  position: relative;
  -webkit-box-shadow: 0 0 8px #000000;
  -moz-box-shadow: 0 0 8px #000000;
  -ms-box-shadow: 0 0 8px #000000;
  -o-box-shadow: 0 0 8px #000000;
  box-shadow: 0 0 8px #000000;
}
.interior-header .container {
  text-align: center;
  height: 100%;
}
.interior-header .container h1 {
  width: 100%;
  color: #ffffff;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  text-shadow: 1px 1px 30px #000000, 1px 1px #000000;
  position: absolute;
  left: 0;
  bottom: 40px;
}
.interior-header .container h1::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  width: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
  height: 3px;
}
/***********************************									
*			Interior 				
***********************************/
.interior-page {
  min-height: calc(100% - 210px);
  background: #f1f1f1;
  padding: 60px 0;
}
.interior-page .gallery .projects {
  position: relative;
  text-align: justify;
  width: 100%;
}
.interior-page .gallery .projects::after {
  content: "";
  width: 100%;
  display: inline-block;
}
.interior-page .gallery .projects > li {
  position: relative;
  display: inline-block;
}
.interior-page .gallery .projects .project {
  width: 31%;
  margin: 15px 0;
}
.interior-page .gallery .projects .project .image {
  position: relative;
  width: 100%;
  max-height: 220px;
  overflow: hidden;
}
.interior-page .gallery .projects .project .image img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.interior-page .gallery .projects .project .image .fa {
  opacity: 0;
  color: #d5d5d5;
  font-size: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1000;
}
.interior-page .gallery .projects .project .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(70, 70, 70, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}
.interior-page .gallery .projects .project .image:hover {
  cursor: pointer;
}
.interior-page .gallery .projects .project .image:hover .fa {
  opacity: 1;
  font-size: 28px;
}
.interior-page .gallery .projects .project .image:hover::before {
  height: 28px;
  top: 37px;
}
.interior-page .gallery .projects .project .image.image-scale {
  overflow: hidden;
}
.interior-page .gallery .projects .project .image.image-scale:hover img {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}
.interior-page .gallery .projects .project:hover {
  box-shadow: 0 0 5px #000000;
}
.interior-page .gallery .projects .project .text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.interior-page .gallery .projects .project .text p {
  position: relative;
  top: 10px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.interior-page .gallery .projects .project .text .button {
  position: relative;
  top: -10px;
  text-align: center;
  margin: 15px 0;
  margin-top: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.interior-page .gallery .projects .project .text .button a,
.interior-page .gallery .projects .project .text .button button,
.interior-page .gallery .projects .project .text .button span,
.interior-page .gallery .projects .project .text .button input {
  color: #f1f1f1;
  font-size: 14px;
  background: #3f507f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.interior-page .gallery .projects .project .text .button a:hover,
.interior-page .gallery .projects .project .text .button button:hover,
.interior-page .gallery .projects .project .text .button span:hover,
.interior-page .gallery .projects .project .text .button input:hover {
  cursor: pointer;
  background: #5065a1;
}
.interior-page .gallery .projects .project .text .button.color2 a,
.interior-page .gallery .projects .project .text .button.color2 button,
.interior-page .gallery .projects .project .text .button.color2 span {
  color: #f1f1f1;
  background: #0f1f4d;
}
.interior-page .gallery .projects .project .text .button.color2 a:hover,
.interior-page .gallery .projects .project .text .button.color2 button:hover,
.interior-page .gallery .projects .project .text .button.color2 span:hover {
  background: #173078;
}
.interior-page .gallery .projects .project .text .button.color3 a,
.interior-page .gallery .projects .project .text .button.color3 button,
.interior-page .gallery .projects .project .text .button.color3 span {
  color: #f1f1f1;
  background: #5271cc;
}
.interior-page .gallery .projects .project .text .button.color3 a:hover,
.interior-page .gallery .projects .project .text .button.color3 button:hover,
.interior-page .gallery .projects .project .text .button.color3 span:hover {
  background: #3656b5;
}
.interior-page .gallery .projects .project .text .button.width a,
.interior-page .gallery .projects .project .text .button.width button,
.interior-page .gallery .projects .project .text .button.width span {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
}
.interior-page .gallery .projects .project .text .button a,
.interior-page .gallery .projects .project .text .button button,
.interior-page .gallery .projects .project .text .button span {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
}
.interior-page .gallery .projects .project .text .button a {
  font-size: 12px;
  width: 120px;
}
.interior-page .gallery .projects .project:hover .text {
  opacity: 1;
  visibility: visible;
}
.interior-page .gallery .projects .project:hover .text p {
  top: 0;
}
.interior-page .gallery .projects .project:hover .text .button {
  top: 10px;
}
.interior-page .content h2 {
  color: #0f1f4d;
  font-size: 28px;
  font-variant: small-caps;
  font-weight: 900;
  padding: 20px 0;
}
.interior-page .content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}
.interior-page .option-content {
  display: none;
}
.interior-page .option-content.active {
  display: block;
}
.interior-page .trigger {
  position: relative;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid #3f507f;
  background: #d4cde5;
  color: #0f1f4d;
  font-size: 21px;
  font-weight: 700;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.interior-page .trigger span {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 28px;
}
.interior-page .trigger-content {
  padding: 20px;
}
/***********************************									
*			About Me 				
***********************************/
#about-page .left {
  width: 35%;
  position: absolute;
  top: 45%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#about-page .left .logo {
  width: 100%;
}
#about-page .left .logo img {
  max-width: 100%;
}
#about-page .right {
  width: 65%;
  float: right;
  padding-left: 40px;
  text-align: center;
}
/***********************************									
*			Contact Page				
***********************************/
#contact-page .left {
  float: left;
  width: 50%;
  padding-right: 40px;
}
#contact-page .right {
  float: right;
  width: 50%;
  padding-left: 40px;
}
#contact-page .bottom {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}
/***********************************									
*         Login / Register 				
***********************************/
.forms-page form {
  width: 50%;
  min-width: 450px;
  position: relative;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 60px 30px 60px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 16px #747474;
  -moz-box-shadow: 0 0 16px #747474;
  -ms-box-shadow: 0 0 16px #747474;
  -o-box-shadow: 0 0 16px #747474;
  box-shadow: 0 0 16px #747474;
}
.forms-page form .input-container {
  position: relative;
}
.forms-page form .input-container input {
  padding: 5px 10px;
  margin: 5px 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #0f1f4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.forms-page form .input-container textarea {
  padding: 5px 10px;
  margin: 5px 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #0f1f4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  resize: none;
  height: 200px;
}
.forms-page form .input-container .field-validation-error > span {
  color: #5a271a;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 120px;
  padding: 10px;
  left: calc(100% - 40px);
  border: 1px solid #5a271a;
  background: #d4cde5;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -ms-box-shadow: 0 0 5px #000000;
  -o-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  z-index: 10;
  cursor: pointer;
}
.forms-page form .input-container .field-validation-error > span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -13px;
  border: 6px solid transparent;
  border-right-color: #5a271a;
}
.forms-page form .input-container .field-validation-error > span:hover::after {
  content: "x";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 5px;
}
.forms-page form .checkbox {
  margin: 10px 0 5px;
}
.forms-page form .checkbox input {
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
}
.forms-page form .submit {
  text-align: center;
  margin: 15px 0;
}
.forms-page form .submit a,
.forms-page form .submit button,
.forms-page form .submit span,
.forms-page form .submit input {
  color: #f1f1f1;
  font-size: 14px;
  background: #3f507f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 40px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.forms-page form .submit a:hover,
.forms-page form .submit button:hover,
.forms-page form .submit span:hover,
.forms-page form .submit input:hover {
  cursor: pointer;
  background: #5065a1;
}
.forms-page form .submit.color2 a,
.forms-page form .submit.color2 button,
.forms-page form .submit.color2 span {
  color: #f1f1f1;
  background: #0f1f4d;
}
.forms-page form .submit.color2 a:hover,
.forms-page form .submit.color2 button:hover,
.forms-page form .submit.color2 span:hover {
  background: #173078;
}
.forms-page form .submit.color3 a,
.forms-page form .submit.color3 button,
.forms-page form .submit.color3 span {
  color: #f1f1f1;
  background: #5271cc;
}
.forms-page form .submit.color3 a:hover,
.forms-page form .submit.color3 button:hover,
.forms-page form .submit.color3 span:hover {
  background: #3656b5;
}
.forms-page form .submit.width a,
.forms-page form .submit.width button,
.forms-page form .submit.width span {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 0 auto;
}
.forms-page form h2 {
  text-align: center;
  font-size: 32px;
  font-variant: small-caps;
  padding: 10px 0 20px 0;
}
.forms-page form .cancel {
  position: absolute;
  top: 0;
  right: 0;
}
.forms-page form .cancel a {
  display: block;
  padding: 20px;
}
.forms-page form .cancel a .fa {
  color: #0f1f4d;
  font-size: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.forms-page form .cancel a:hover .fa {
  color: #5a271a;
  font-size: 32px;
}
.forms-page form .register,
.forms-page form .login,
.forms-page form .checkbox {
  text-align: center;
}
.forms-page .error {
  position: relative;
  display: block;
  color: #5a271a;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}
/****************************************************************************************************
*																									*
*												FOOTER MAIN									
*																									*
****************************************************************************************************/
/***********************************									
*			Footer 				
***********************************/
footer {
  position: relative;
  background: #2a3146;
  padding: 30px 0;
  z-index: 50;
  -webkit-box-shadow: 0 0 8px #000000;
  -moz-box-shadow: 0 0 8px #000000;
  -ms-box-shadow: 0 0 8px #000000;
  -o-box-shadow: 0 0 8px #000000;
  box-shadow: 0 0 8px #000000;
  text-align: center;
}
footer a.home {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
footer a.home:hover {
  color: #3f507f;
  font-weight: 700;
}
footer .copyright {
  background: #2e3b5d;
  padding: 10px 0;
  display: block;
  text-align: center;
  box-shadow: 0 0 5px #000000;
}
footer .copyright p {
  color: #acacac;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0;
}
/*********************************************************************************************************************************************/
/*																																			 */
/*																RESPONSIVE 										
/*																																			 */
/*********************************************************************************************************************************************/
/**
* Authors : Emma Hilborn (200282755),
            Alex Friesen (200302342),
            Dan Masci (200299037)
* Class : Enterprise Computing
* Semester : 4
* Professor : Tom Tsiliopolous
* Purpose : Final Team Project - E-Commerce Store
* Website Name : EzGames1.azurewebsites.net
*/
/**
* The follwing stylesheet is imported into style.less. This is used specifically for responsive
* design throughout the entirety of the application (excluding Menu-specific).
*/
@media screen and (max-width: 980px) {
  /****************************************************************************************************
	*																									*
	*												HEADER MAIN									
	*																									*
	****************************************************************************************************/
  header #header-nav .menu {
    display: none;
  }
  header #header-nav .menu > li#home {
    display: block;
  }
  header #account-nav .menu {
    width: 70px;
  }
  header #logo {
    width: 70px;
  }
  header #moby-button {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  /***********************************									
	*			Contact Page 				
	***********************************/
  #contact-page {
    padding-top: 30px;
  }
  #contact-page .left {
    float: none;
    width: 100%;
    padding-right: 0;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
  }
  #contact-page .right {
    float: none;
    width: 100%;
    padding-left: 0;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 650px) {
  body {
    height: Calc(100% - 110px);
  }
  /****************************************************************************************************
	*																									*
	*												HOME PAGE 										
	*																									*
	****************************************************************************************************/
  #home-page {
    /***********************************									
		*			Top Banner 				
		***********************************/
  }
  #home-page .top-banner .rotator .slides .slide .container {
    max-width: 80%;
  }
  #home-page .top-banner .rotator .slides .slide .container .heading h2 {
    font-size: 5.8vw;
  }
  #home-page .top-banner .rotator .slides .slide .container .text p {
    font-size: 2.9vw;
  }
  #home-page .top-banner .rotator .slides .slide .container .button a {
    font-size: 2.9vw;
  }
  #home-page .top-banner .rotator .slides .rotator-controls {
    bottom: 25px;
  }
  #home-page .top-banner .rotator .slides .rotator-controls .control {
    width: 20px;
    height: 20px;
    margin: 6px;
  }
  #home-page .top-banner .rotator .slides .rotator-arrows {
    display: none;
  }
  /****************************************************************************************************
	*																									*
	*											INTERIOR PAGES 										
	*																									*
	****************************************************************************************************/
  /***********************************									
	*			Interior Header				
	***********************************/
  .interior-header .container h1 {
    text-align: center;
    left: 0;
  }
  .interior-header .container h1::after {
    position: relative;
    display: block;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70%;
  }
  /***********************************									
	*			Interior 				
	***********************************/
  .interior-page .content h2 {
    padding-top: 40px;
    text-align: center;
  }
  .interior-page .option-content {
    text-align: center;
  }
  .interior-page .trigger {
    text-align: center;
  }
  .interior-page .trigger strong {
    display: block;
    width: calc(100% - 40px);
    position: relative;
    left: 20px;
  }
  .interior-page .trigger-content {
    text-align: center;
  }
  /***********************************									
	*			Login / Register 				
	***********************************/
  .forms-page form {
    width: 90%;
    min-width: 90%;
  }
  /****************************************************************************************************
	*																									*
	*												FOOTER MAIN									
	*																									*
	****************************************************************************************************/
  footer .copyright p {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 570px) {
  /***********************************									
	*			Interior 				
	***********************************/
  .interior-page .gallery .projects .project {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /****************************************************************************************************
	*																									*
	*												HOME PAGE 										
	*																									*
	****************************************************************************************************/
  #home-page {
    /***********************************									
		*			Top Banner 				
		***********************************/
  }
  #home-page .top-banner .rotator .slides .slide .container {
    max-width: 82%;
  }
  #home-page .top-banner .rotator .slides .slide .container .heading h2 {
    font-size: 32px;
  }
  #home-page .top-banner .rotator .slides .slide .container .text p {
    font-size: 16px;
  }
  #home-page .top-banner .rotator .slides .slide .container .button a {
    font-size: 16px;
  }
  #home-page .top-banner .rotator .slides .rotator-controls {
    bottom: 15px;
  }
  #home-page .top-banner .rotator .slides .rotator-controls .control {
    width: 20px;
    height: 20px;
    margin: 6px;
  }
  #home-page .top-banner .rotator .slides .rotator-arrows {
    display: none;
  }
  /****************************************************************************************************
	*																									*
	*												FOOTER MAIN					
	*																									*
	****************************************************************************************************/
  footer .copyright p {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px) {
  /****************************************************************************************************
	*																									*
	*											INTERIOR PAGES 										
	*																									*
	****************************************************************************************************/
  /***********************************									
	*			Login / Register 				
	***********************************/
  .forms-page form {
    padding: 10px 30px;
  }
}
