@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames1.azurewebsites.net/Home/About
    *
    * This is the About page for our website/e-commerce store. It includes a brief summary of who/what EZ Games is.
    */
*@

<div class="interior-page" id="about-page">

    <div class="content container">
        <div class="left">
            <div class="logo">
                <img src="~/Assets/images/ezGamesLogo.png" title="EzGames" alt="EzGames Logo" />
            </div>
        </div><!-- left -->
        <div class="right">
            <p>
            EZ Games was established in 2014, making purchasing games online easier since then. It is, in essence, an online game store by gamers for gamers.
            <br /><br />
            EZ Games aims to allow gamers to purchase the latest and greatest games, all without having to leave their computer and have to locate a store to pick a game up. With EZ Games, you just choose your purchase(s), check out, and wait excitedly for a parcel!
            <br /><br />
            Guaranteeing the safety of your information (no spam emails from us selling your email), the best shipping YOU want (we'll let you pay extra and do the extra paperwork to have it 1-day-shipped), and a quick way to purchase a game directly online without being told to "check your nearest location", there's no better choice for online game-shopping than EZ Games!
            <br /><br />
            We make it EZ.
            </p>
        </div><!-- right -->
        <div class="clear-float"></div><!-- clear-float -->
    </div><!-- container -->

</div><!-- #about-page -->


