@*
    /**
    * Author : Daniel Masci - 200299037
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Assignment 2 - ASP.NET Portfolio
    * Website Name : Comp2007_Project2.azurewebsites.net/Home/Contact
    *
    * This is the Contact page for our Restaurant. It includes contact information
    * as well as a map and written directions.
    *
    * INFORMATION TAKEN FROM AN EXISTING RESTAURANT (Kelsey's in Newmarket).
    */
*@

<div class="interior-page" id="contact-page">

    <div class="content container">
        <div class="right">
            <div class="info">
                <div class="address">
                    <span class="name">Kelsey's Bar &amp; Grill</span>
                    <span class="street">18158 Yonge Street</span>
                    <span class="city">Newmarket, ON</span>
                    <span class="postal">L3Y 4V8</span>
                </div>
                <div class="phone underline">TEL: 905-895-6336</div>
                <br/>
                <div class="social underline">
                    <span>Keep Connected</span>
                    <a href="facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="instagram.com"><i class="fa fa-instagram"></i></a>
                </div>
                <div class="directions">
                    <p>
                        <span>We are located on the southwest corner of the Green Lane and Yonge Street intersection in Newmarket.</span>
                        <span><b>From the 400</b> you want to take the Davis (Highway 9) exit and go West into Newmarket. Then turn
                        on Bathurst (North) and then turn on Green Lane (West) until you hit Yonge Street.</span>
                        <span><b>From the 404</b> you want to take the Green Lane exit and go East until you hit Yonge Street.</span>
                    </p>
                </div>
            </div>
        </div><!-- right -->
        <div class="left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23362.82189073748!2d-79.47654513232996!3d44.068257307434614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ace1a50849521%3A0x55e01f8076981200!2sKelsey&#39;s+Bar+%26+Grill!5e0!3m2!1sen!2sca!4v1469645078021" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div><!-- left -->

        <div class="clear-float"></div><!-- clear-float -->
    </div><!-- container -->

</div><!-- #contact-page -->
