@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : ezgames.azurewebsites.net/Home/Contact
    *
    * This is the Contact page for our website/e-commerce store. It includes contact emails and a phone number.
    */
*@

<div class="interior-page" id="contact-page">

    <div class="content container">
        <div class="left">
            <h2>General Inquiries</h2>
            <p>Got a question that you can't find an answer to on the site? No problem! Send it along to the email below, and we'll respond ASAP!
            (Typical response time is 6-12 hours)
            <br /><br />
            Email: questions@ezgames.com
            <br /><br />
            Have a suggestion on how we can improve one of our services? Clean up the site? Make buying games EVEN easier? Tell us!
            <br /><br />
            Email: <a href="mailto:suggestions@ezgames.com">suggestions@ezgames.com</a></p>
        </div><!-- left -->
        <div class="right">
            <h2>Order & Account Inquiries</h2>
            <p>Need to ask something about an order's status? Double-checking a pre-order ship date or making sure a payment processed? Ask us!
            (Typical response time is 6-12 hours)
            <br /><br />
            Email: <a href="inquiries@ezgames.com">inquiries@ezgames.com</a>
            <br /><br />
            Having account problems? If you have an active account, please list the email for the account. If not, just note the problem. We want to help!
            <br /><br />
            Email: <a href="accounts@ezgames.com">accounts@ezgames.com</a></p>
        </div><!-- right -->
        <div class="clear-float"></div><!-- clear-float -->
        <div class="bottom">
            <p> Hoping to chat in person? Try the following number anytime Monday-Friday, 9am - 5pm (EST) to speak to a representative.
            <br />
            Phone: 1-800-394-2637  </p>
        </div>
    </div><!-- container -->

</div><!-- #contact-page -->
