@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : Comp2007-Project2.azurewebsites.net
    *
    * This is the Home Page for our Application. It includes a rotator that
    * shows multiple images of our Restaurant and provides a button on the
    * first slide to take the user to the Menu or Contact page.
    *
    * IMAGES TAKEN FROM AN EXISTING RESTAURANT CHAIN (Kelsey's).
    */
*@


<div id="home-page">

    <div class="top-banner">
        <div class="rotator">
            <div class="slides">
                <div class="slide active" id="slide1" style="background-image: url(/Assets/images/slide3.jpg);">
                    <div class="container">
                        <div class="heading">
                            <h2>Menu</h2>
                        </div><!-- heading -->
                        <div class="text">
                            <p>Our menu will make your mouth water - no matter your preferences!</p>
                        </div><!-- text -->
                        <div class="button">
                            @Html.ActionLink("Take a Look", "Index", "Menu")
                        </div>
                    </div><!-- container -->
                </div><!-- slide1 -->
                <div class="slide" id="slide2" style="background-image: url(/Assets/images/slide2.jpg);">
                    <div class="container">
                        <div class="heading">
                            <h2>Dining Room</h2>
                        </div><!-- heading -->
                        <div class="text">
                            <p>Enjoy and relax as you sit in our Dining Room!</p>
                        </div><!-- text -->
                    </div><!-- container -->
                </div><!-- slide2 -->
                <div class="slide" id="slide3" style="background-image: url(/Assets/images/slide1.jpg);">
                    <div class="container">
                        <div class="heading">
                            <h2>Lounge</h2>
                        </div><!-- heading -->
                        <div class="text">
                            <p>Or come watch a game in our Lounge!</p>
                        </div><!-- text -->
                    </div><!-- container -->
                </div><!-- slide3 -->
                <div class="slide" id="slide4" style="background-image: url(/Assets/images/slide4.jpg);">
                    <div class="container">
                        <div class="heading">
                            <h2>Contact</h2>
                        </div><!-- heading -->
                        <div class="text">
                            <p>We're located at the North end of Newmarket.<br/>Call us for more information!</p>
                        </div><!-- text -->
                        <div class="button">
                            @Html.ActionLink("Directions", "Contact", "Home")
                        </div>
                    </div><!-- container -->
                </div><!-- slide4 -->
                <div class="rotator-controls">
                </div><!-- rotator-controls -->
                <div class="rotator-arrows">
                    <div class="container">
                        <div class="prev"><i class="fa fa-chevron-left"></i></div><!-- prev -->
                        <div class="next"><i class="fa fa-chevron-right"></i></div><!-- next -->
                    </div><!-- container -->
                </div><!-- rotator-arrows -->
            </div><!-- slides -->
        </div><!-- rotator -->
    </div><!-- top-banner -->

</div><!-- #home-page -->
