@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Oops!";
}

<div class="interior-page" id="error-page">
    <div class="container">
        <p>
            Oops! The page you are looking for doesn't exist.<br />
            Please try again or go <a href="/">Home</a>.
        </p>
    </div>
</div>

