@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames3.azurewebsites.net/Account/Logout
    *
    * This is the Login page letting users know they have successfully logged out
    */
*@

@{
    ViewBag.Title = "Logout";
}

<div class="interior-page forms-page" id="logout-page">
    <div class="container">
        <p>You have successfully Logged out.</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}