@{
    ViewBag.Title = "Logout";
}

<div class="interior-page forms-page" id="logout-page">
    <div class="container">
        <p>You have successfully Logged out.</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}