@model int
@{
    ViewBag.Title = "Thank You";
}

<div class="interior-page" id="checkout-complete-page">
    <div class="container">
        <!-- -->
        <p>Thanks for your order! Your order number is: @Model</p>
        <p>
            How about shopping for some more games in our @Html.ActionLink("store", "Index", "Store")?
        </p>
    </div>
</div>
